/* Header styles */
.header {
  position: relative;
}

.side-menu {
  position: fixed;
  top: 0;
  right: 0;
  width: 250px;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  padding: 20px;
  z-index: 1050;
  transition: transform 0.3s ease-in-out;
}

.side-menu .close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: transparent;
  border: none;
  color: white;
  font-size: 1.5rem;
  cursor: pointer;
}

.side-menu .nav-link {
  color: white;
  margin: 10px 0;
}

@media (min-width: 993px) {
  .side-menu {
    display: none;
  }
}

/* Global styles */
html, body {
  height: auto;
  margin: 0;
  padding: 0;
}

#estimate.content {
  margin-top: 0px;
  margin-bottom: 82.24999px;
}

.mid-box {
  background-color: #303963f6; 
  padding: 1px;
  border-radius: 30px;
  padding-bottom: 80px;
  margin-left: 25%;
  margin-right: 25%;
  position: relative;
  top: 5%;
}

.content {
  margin-bottom: 100px;
}

.container-fluid {
  min-height: 140vh;
}

body {
  font-family: 'Cuprum', sans-serif;
  background-color: #ffffff;
  color: #2a2c35;
}

h1, h2, h3, h4, h5, h6, a {
  font-family: 'Cuprum', sans-serif;
}

h1 {
  margin-bottom: 30px !important;
}

h2 {
  margin-top: 15px;
  margin-bottom: 30px;
  font-weight: bold;
  color: #555;
}

.mb-3 .h5stuff {
  font-family: 'Cuprum', sans-serif;
  font-size: 31px;
}

.mb-3 .moreh5 {
  font-family: 'Cuprum', sans-serif;
  font-size: 25px;
}

p {
  color: #555;
  font-family: 'Cuprum', sans-serif;
  font-size: 23px;
}

/* Header specific styles */
.header {
  position: sticky;
  top: 0;
  z-index: 1000;
  background-color: #262b3d;
  color: white;
  padding: 0 !important;
  overflow-x: hidden;
}

.header .navbar-nav {
  display: flex;
  justify-content: space-between;
  width: 100%; 
  margin-right: 40px;
}

.header .nav-link {
  width: 240%;
  font-size: 30px; 
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: 60px;
  padding-top: 47px;
  padding-bottom: 47px;
}

.header .nav-link.active {
  border-bottom: 4px solid rgb(0, 102, 255) !important;
  width: 69%;
}

.header .homenav.active {
  border-bottom: 4px solid rgb(0, 102, 255) !important;
  width: 62%;
}

.header .parnav.active {
  border-bottom: 4px solid rgb(0, 102, 255) !important;
  width: 80%;
}

.header .abtnav.active {
  border-bottom: 4px solid rgb(0, 102, 255) !important;
  width: 85%;
}

.header .navbar {
  padding: 0;
}

.header .navbar-brand {
  padding: 1px;
  margin-right: 8%;
  margin-left: 1%;
}

.header .navbar-toggler {
  margin-right: 5%;
}

.header .nav-link:hover {
  color: white;
}

.parnav {
  margin-right: 70px !important;
}

@media (max-width: 1451px) {
  .parnav {
    margin-right: 100px !important;
  }
}

@media (max-width: 1300px) {
  .header .nav-link {
    font-size: 20px !important;
    padding-top: 54.5px;
    padding-bottom: 54px;
  }

  .parnav {
    margin-right: 65px !important;
  }

  .header .nav-link.active {
    border-bottom: 4px solid rgb(0, 102, 255) !important;
    width: 61%;
  }
  
  .header .homenav.active {
    border-bottom: 4px solid rgb(0, 102, 255) !important;
    width: 54%;
  }
  
  .header .parnav.active {
    border-bottom: 4px solid rgb(0, 102, 255) !important;
    width: 79%;
  }
  
  .header .abtnav.active {
    border-bottom: 4px solid rgb(0, 102, 255) !important;
    width: 72%;
  }

  .header .galnav.active {
    border-bottom: 4px solid rgb(0, 102, 255) !important;
    width: 58%;
  }
}

@media (max-width: 1072px) {
  .header .nav-link {
    font-size: 17px !important;
    padding-top: 57px;
    padding-bottom: 56px;
  }
}

@media (max-width: 991px) {
  .header .nav-link {
    font-size: 25px !important;
    margin-left: 10%;
    justify-content: center !important;
    width: 80%;
    padding: 5px;
  }

  .header .nav-link.active {
    font-size: 25px !important;
    margin-left: 10%;
    justify-content: center !important;
    width: 80%;
    padding: 5px;
  }

  .active-line1,
  .active-line2,
  .active-line3,
  .active-line4,
  .active-line5,
  .active-line6 {
    display: none;
  }

  .carousel-indicators2 {
    position: relative;
    display: flex;
    bottom: 16%;
    left: 40% !important;
    width: 100%;
    z-index: 15;
    text-align: center;
    overflow: hidden !important;
    padding: 0;
  }

  .nav-grid {
    display: grid !important;
    grid-template-columns: repeat(3, 1fr) !important;
    grid-template-rows: repeat(2, auto) !important;
    justify-content: center !important;
  }

  .header .nav-link.active {
    border: none !important;
  }
  
  .header .homenav.active {
    border: none !important;
  }
  
  .header .parnav.active {
    border: none !important;
  }
  
  .header .abtnav.active {
    border: none !important;
  }

  .header .galnav.active {
    border: none !important;
  }
}

.header2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #303963;
  color: #ffffff;
  padding: 10px;
}

.right,
.left,
.middle {
  text-decoration: none;
  color: white;
}

.middle {
  flex: 1;
  text-align: center;
}

.middle:hover {
  color: rgb(32, 153, 223)!important;
}

@media (max-width: 520px) {
  .middle {
    display: none !important;
  }
}

/* partners styles */
.partners-container {
  margin-bottom: 44px;
}

.partner-info1, .partner-info2, .partner-info3 {
  padding: 30px;
  background-color: #303963f6;
  border-radius: 20px;
  color: lightgrey;
}

.partner-info1 {
  margin-top: 50px;
  margin-left: 20px;
  margin-right: 20px;
}

.partner-info2 {
  margin-left: 15px;
  margin-right: 15px;
}

.img3 {
  margin-top: 60px;
}

.partner-info3 {
  margin-top: 60px;
  margin-left: 20px;
  margin-right: 20px;
}

/* Footer styles */
.footer {
  position: relative;
  background-color: #262b3d;
  font-size: 18px;
  padding: 0;
  clear: both;
}

.thisone {
  margin-left: 1%;
}

.footer .mr-auto {
  margin-left: 2%;
}

.footer .ml-auto {
  margin-left: auto !important;
  margin-right: 2%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer .nav-link:hover {
  color: #8c8c8c;
}

.footer .footerpadding {
  padding: 0px 0;
}

.foot-cont:hover,
.dtlink:hover {
  color: rgb(32, 153, 223)!important;
}

@media (max-width: 982px) {
  .foot-right {
    margin-right: 0% !important;
  }
  
  .foot-left {
    margin-left: 0% !important;
  }
}

@media (max-width: 982px) {
  .footer .mr-auto {
    display: flex;
    justify-content: center;
  }
}

.footer1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #262b3d;
  color: #ffffff;
  padding: 10px;
}

.footer1 .left,
.footer1 .right {
  text-decoration: none;
  color: white;
}

.footer1 .middle {
  flex: 1;
  text-align: center;
  text-decoration: none;
  color: white;
}

.footer1 .middle:hover {
  color: rgb(32, 153, 223)!important;
}

@media (max-width: 520px) {
  .footer1 .middle {
    display: none !important;
  }
}

.nav-item {
  display: flex;
  align-items: center;
  justify-content: center;
}

.centered {
  position: relative;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.row-margin-std {
  margin-top: 30px;
}

.navbar-nav .nav-item .nav-link {
  font-family: 'Cuprum', sans-serif;
  font-size: 28px;
  text-align: center;
  margin-top: 18px;
  margin-bottom: 17px;
  padding-top: 50px;
  padding-bottom: 50px;
  color: white;
  text-decoration: none !important;
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar-nav .nav-item .nav-link.active {
  border-bottom: 4px solid rgb(0, 102, 255) !important;
}

@media (max-width: 1200px) {
  .navbar-nav .nav-item .nav-link {
    font-size: 16px !important;
  }

  .navbar-nav .nav-item .nav-link.active {
    border-bottom: none !important;
  }
}

.nav-link {
  text-decoration: none !important;
}
