/* Global styles */

html, body {
  height: auto;
  margin: 0;
  padding: 0;
}

#estimate.content {
  margin-top:0px;
  margin-bottom: 82.24999px;
}

.mid-box {
  background-color: #303963f6; 
  padding: 1px;
  border-radius: 30px;
  padding-bottom: 80px;
  margin-left: 25%;
  margin-right: 25%;
  position: relative;
  top: 5%;
}


.content {
  margin-bottom: 100px;
}

.container-fluid {
  min-height: 140vh;
}

body {
  font-family: 'Cuprum', sans-serif; /* Primary typography */
  background-color: #ffffff; /* Background color */
  color: #2a2c35; /* Primary text color */
}

h1, h2, h3, h4, h5, h6, a {
  /* Apply font styles for headings */
  font-family: 'Cuprum', sans-serif;
}

h1 {
  margin-bottom: 30px !important;
}

h2 {
  margin-top: 15px;
  margin-bottom: 30px;
  font-weight: bold;
  color: #555; /* Secondary text color */
}

.mb-3 .h5stuff {
  font-family: 'Cuprum', sans-serif;
  font-size: 31px;
}

.mb-3 .moreh5 {
  font-family: 'Cuprum', sans-serif;
  font-size: 25px;
}

p {
  color: #555; /* Secondary text color */
  font-family: 'Cuprum', sans-serif;
  font-size: 23px;
}

/* Header styles */

.active-line1 {
  position: absolute;
  bottom: 0px;
  left: 15.7%;
  width: 10%;
  height: 4px;
  background-color: rgb(0, 102, 255);
}

.active-line2 {
  position: absolute;
  bottom: 0px;
  left: 28.2%;
  width: 11%;
  height: 4px;
  background-color: rgb(0, 102, 255);
}

.active-line3 {
  position: absolute;
  bottom: 0px;
  left: 42.5%;
  width: 13%;
  height: 4px;
  background-color: rgb(0, 102, 255);
}

.active-line4 {
  position: absolute;
  bottom: 0px;
  left: 58.6%;
  width: 11%;
  height: 4px;
  background-color: rgb(0, 102, 255);
}

.active-line5 {
  position: absolute;
  bottom: 0px;
  left: 71.9%;
  width: 11%;
  height: 4px;
  background-color: rgb(0, 102, 255);
}

.active-line6 {
  position: absolute;
  bottom: 0px;
  left: 85.5%;
  width: 12%;
  height: 4px;
  background-color: rgb(0, 102, 255);
}

.header {
  position: sticky;
  top: 0;
  z-index: 1000;
  background-color: #262b3d; /* Primary color */
  color: white; /* Text color */
  padding: 0 !important;
  overflow-x: hidden;
}

.header .navbar-nav {
  display: flex;
  justify-content: space-between;
  width: 100%; 
  margin-right: 40px;
}

.header .nav-link {
  width: 240%;
  font-size: 30px; 
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: 60px;
}

.header .navbar {
  padding: 0;
}

.header .navbar-brand {
  padding: 1px;
  margin-right: 8%;
  margin-left: 1%;
}

.header .navbar-toggler {
  margin-right: 5%;
}

.header .nav-link:hover {
  color: white; /* Accent color */
}

@media (max-width: 1270px) {
  /* Apply styles for screens smaller than 768px */
  .navbar-toggler {
    display: block;
  }

  .navbar-collapse {
    display: none;
  }

  .navbar-collapse.show {
    display: flex;
    justify-content: center !important;
  }
}

.header2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #303963; /* Primary color */
  color: #ffffff; /* Text color */
  padding: 10px;
}

.right {
  text-decoration: none;
  color: white;
}

.left{
  text-decoration: none;
  color: white;
}

.middle {
  flex: 1;
  text-align: center;
  text-decoration: none;
  color: white;
}

.middle:hover {
  color: rgb(32, 153, 223)!important;
}

/* partners styles */

.partners-container {
  margin-bottom: 44px;
}

.partner-info1 {
  margin-top: 50px;
  padding: 30px;
  background-color: #303963f6;
  border-radius: 20px;
  margin-left: 20px;
  margin-right: 20px;
  color: lightgrey;
}

.partner-info2 {
  padding: 30px;
  background-color: #303963f6;
  border-radius: 20px;
  margin-left: 15px;
  margin-right: 15px;
  color: lightgrey;
}

.img3 {
margin-top: 60px;
}

.partner-info3 {
  margin-top: 60px;
  padding: 30px;
  background-color: #303963f6;
  border-radius: 20px;
  margin-left: 20px;
  margin-right: 20px;
  color: lightgrey;
}

/* Footer styles */

.footer {
  position: relative; /* Change to relative positioning */
  background-color: #262b3d; /* Primary color */
  font-size: 18px;
  padding: 0;  /* Add padding for spacing */
  clear: both; /* Clear floats */
}

.thisone {
  margin-left: 1%;
}

.footer .mr-auto {
  margin-left: 2%;
}

.footer .ml-auto {
  margin-left: auto !important;
  margin-right: 2%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer .nav-link:hover {
  color: #8c8c8c; /* Accent color */
}

.footer .footerpadding {
  padding: 0px 0;
}

.foot-cont:hover {
  color: rgb(32, 153, 223)!important;
}

/* Button styles */
.btn-primary {
  background-color: #2a2c35; /* Primary color */
  color: #ffffff; /* Text color */
  border: none;
  padding: 10px 20px;
  cursor: pointer;
}

.btn-primary:hover {
  background-color: #8c8c8c; /* Accent color */
}

.btn-secondary {
  background-color: #2a2c35; /* Primary color */
  color: #ffffff; /* Text color */
  border: none;
  padding: 10px 20px;
  cursor: pointer;
}

.btn-secondary:hover {
  background-color: #8c8c8c; /* Accent color */
}

/* Form styles */
.form-group {
  margin-bottom: 20px;
}

.form-control {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.form-control:focus {
  outline: none;
  border-color: #8c8c8c; /* Accent color */
}

/* Card styles */
.card {
  background-color: #ffffff; /* Background color */
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin-bottom: 20px;
}

.card-title {
  font-weight: bold;
  color: #333; /* Text color */
}

.card-text {
  color: #555; /* Secondary text color */
}

/* About Styles */

.about-content {
  height: auto;
  margin-bottom: 51.7499px;
}

.about-container {
  margin-left: 10%;
}

.reviews-link2 {
  text-decoration: none; 
  font-size: 30px; 
  display: inline-block; 
  text-align: center;
  color: lightgray; 
  background-color: #303963;
  border-radius: 20px;
  padding: 15px;
  width: 400px !important;
}

.reviews-link2:hover {
  color: rgb(32, 153, 223);
  background-color: #303963b9 !important;
}

/* Gallery Styles */

.gallery-cont {
  margin-bottom: 59px;
}

.gallery-button {
  margin-bottom: 70px;
  margin-left: 45%;
  background-color: #303963 !important;
}

.gallery-button:hover {
  background-color: #303963c9 !important;
  color: rgb(32, 153, 223) !important;
}

.btn {
  margin-top: 20px;
  margin-left: 17.5%;
}

.logo-container {
  display: flex;
  align-items: center;
}

.logo {
  background-color: transparent;
}

.carousel-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 3rem;
}

.left-arrow {
  right: 120%;
  color: grey;
  background-color: #303963;
  border-color: black;
  border-radius: 12px;
}

.right-arrow {
  left: 120%;
  color: grey;
  background-color: #303963;
  border-color: black;
  border-radius: 12px;
}

.reviews-link {
  text-decoration: none; 
  font-size: 30px; 
  display: inline-block; 
  text-align: center;
  color: lightgray; 
  background-color: #303963;
  border-radius: 20px;
  padding: 15px;
  width: 400px;
}

.reviews-link:hover {
  color: rgb(32, 153, 223);
  background-color: #303963b9 !important;
}

/* home styles */

.home-page {
  height: 100% !important;
}

.app-container {
  height: 100vh !important;
  overflow-x: hidden;
}

.left-box {
  background-color: #262b3df3; 
  padding: 1px;
  border-radius: 30px;
  padding-bottom: 21%;
  margin-left: 10%;
  margin-right: 10%;
}

.right-box {
  background-color: #303963f6; 
  padding: 1px;
  border-radius: 30px;
  padding-bottom: 25px;
  margin-left: 5%;
  margin-right: 15%;
}

.homep {
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: -10%;
  font-size: 26px;
}

.home-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.right-content {
  padding-left: 10px;
  padding-right: 10px;
}

.sendbtn {
  background-color: rgb(32, 153, 223) !important;
  margin-bottom: 20px;
  border-radius: 20px;
}

.sendbtn:hover {
  color: gray;
  background-color: rgb(22, 108, 158) !important;
}

#estimate .sendbtn {
  background-color: rgb(32, 153, 223) !important;
  margin-bottom: -80px;
  border-radius: 20px;
}

#estimate .sendbtn:hover {
  color: gray !important;
  background-color: rgb(22, 108, 158) !important;
}

/* reviews styles */

.reviewbox {
  background-color: #303963f6; 
  border-radius: 30px;
}

/* svc styles */

.svc-card {
  background-color: #303963 !important;
  border-radius: 30px !important;
}

.svc-card2 {
  background-color: #303963 !important;
  border-radius: 30px;
}

.svc-card:hover {
  background-color: #303963dc !important;
}

.svc-card:hover .h5stuff,
.svc-card:hover .text-center {
  color: rgb(32, 153, 223) !important;
}

.svc-card:hover .svc-card2 {
  background-color: #30396300 !important;
}

.col2 {
  margin-left: auto;
}

.svc-cont {
  margin-bottom: 14.8593px;
}  

/* doors */

.door-image {
  height: 300px !important; /* Adjust as needed */
  object-fit: cover;
}

.btn {
  display: flex;
  position: relative;
  bottom: 28px;
  width: 120px;
  margin-left: 30px;
  margin-right: 30px;
  background-color: #303963f6 !important;
}

.btn:hover {
  color: rgb(32, 153, 223) !important;
  background-color: #303963d0 !important;
}

.tile {
  border-radius: 30px;
  border: 2px solid #303963f6;
  padding-top: 30px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
}

.benefits {
  border-radius: 30px;
  border: 2px solid #303963f6;
  padding-top: 20px;
  padding-bottom: 5px;
  padding-left: 2%;
  padding-right: 2%;
}

/* windows */

.benp {
  font-size: 20px;
}

.window-image {
  height: 300px !important;
  object-fit: cover;
}

/* contracting */

.con-cont {
  margin-bottom: 57px;
}

.cont-left {
  background-color: #303963 !important;
  border-radius: 40px;
  margin-right: 20px;
  margin-left: 3%;
}

.cont-right {
  background-color: #303963 !important;
  border-radius: 40px;
  margin-left: 20px;
}

.benp1 {
  color: lightgray;
  padding-right: 4% !important;
  padding-bottom: 10px;
}

/* fading */

.middle,
.middle:hover {
  transition: color 0.4s ease;
}

.btn-primary,
.btn-primary:hover,
.btn-secondary,
.btn-secondary:hover,
.gallery-button,
.gallery-button:hover,
.reviews-link2,
.reviews-link2:hover,
.reviews-link,
.reviews-link:hover,
.btn,
.btn:hover,
.svc-card:hover .h5stuff,
.svc-card:hover .text-center {
  transition: background-color 0.4s ease, color 0.4s ease;
}

.header .nav-link,
.header .nav-link:hover {
  transition: color 0.4s ease;
}

.footer .nav-link,
.footer .nav-link:hover {
  transition: color 0.4s ease;
}